<div class="">
    <MBottomSheet Inset Value=HasFybctuib ValueChanged="HasFybctuibChanged" Style="height:auto;">
        <ChildContent>
            <div class="info">

                <div style="float: left;width:55px;">
                    <MImage Src="@Storageo.CloudUrl"
                            MaxHeight="@("55px")"
                            MaxWidth="@("55px")"
                        Class="grey darken-4"></MImage>
                </div>
                <div style="margin-left:10px">
                    <div>
                        @Storageo.Path
                    </div>
                    <div style="font-size:12px">
                        @Storageo.CreationTime
                    </div>
                </div>
                <MDivider></MDivider>

                <FileFunction StorageId="StorageId??Guid.Empty" />
            </div>
        </ChildContent>
    </MBottomSheet>
</div>
